.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://dl.dropboxusercontent.com/u/102790554/jumbotronbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}